In [1]:
"Hello" + "nice to meet you"

'Hellonice to meet you'

In [2]:
"Hello"+ 1

TypeError: can only concatenate str (not "int") to str

In [3]:
"Hello"+str(1)

'Hello1'

In [4]:
#str(number) : 숫자를 문자로 변환
str(1)

'1'

In [5]:
print(str(1))

1

In [6]:
"Hello" *3

'HelloHelloHello'

In [7]:
3*

SyntaxError: invalid syntax (<ipython-input-7-93dcd219f4b2>, line 1)

In [8]:
3*"Hello"

'HelloHelloHello'

In [9]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("Hello"[0])
print("Hello"[1])
print("Hello"[2])
print("Hello"[3])
print("Hello"[4])

문자 선택 연산자에 대해 알아볼까요?
H
e
l
l
o

In [10]:
print("문자를 뒤에서부터 선택해 볼까요")
print("Hello"[-1])
print("Hello"[-2])
print("Hello"[-3])
print("Hello"[-4])
print("Hello"[-5])

문자를 뒤에서부터 선택해 볼까요
o
l
l
e
H

In [11]:
print("Hello"[1:4])

ell

In [12]:
print("Hello"[0:2])
print("Hello"[1:3])
print("Hello"[2:4])

He
el
ll

In [13]:
print("Hello"[1:])
print("Hello"[:3])

ello
Hel

In [14]:
hello = "안녕하세요"
print(hello[:2])
hello

안녕

'안녕하세요'

In [15]:
hi = '안녕하세요'
hi

'안녕하세요'

In [16]:
print(hello, hi)

안녕하세요 안녕하세요

In [17]:
hello = "또만나"

In [18]:
hello

'또만나'

In [19]:
hello[:2]

'또만'

In [20]:
hello[10]

IndexError: string index out of range

In [21]:
print(len(hello))

3

In [22]:
print(len('hello'))

5

In [23]:
print(len("hello"))

5

In [24]:
len(hello)

3

In [25]:
273

273

In [26]:
type(273)

int

In [27]:
type(273.0)

float

In [29]:
273 + 273.0

546.0

In [30]:
print("5 + 7 =", 5 + 7)

5 + 7 = 12

In [31]:
type(273 + 273.0)

float

In [32]:
3 / 2

1.5

In [33]:
3 // 2

1

In [34]:
3 % 2

1

In [35]:
print(type(0))

<class 'int'>

In [36]:
2 **

SyntaxError: invalid syntax (<ipython-input-36-a719d34d6bb3>, line 1)

In [37]:
"안녕" + "하세요" * 3

'안녕하세요하세요하세요'

In [38]:
("안녕" + "하세요") * 3

'안녕하세요안녕하세요안녕하세요'

In [39]:
pi

NameError: name 'pi' is not defined

In [40]:
Pi

NameError: name 'Pi' is not defined

In [41]:
pi =  3.14159265

In [42]:
pi

3.14159265

In [43]:
number = 100

In [44]:
number

100

In [46]:
number += 10
#number += 20
#number += 30

170

In [47]:
number

170

In [48]:
number = 100
number += 10
number

110

In [49]:
string = "Hello"
string += "!"

In [50]:
string

'Hello!'

In [52]:
input("인사말:")

인사말:또 만나

'또 만나'

In [53]:
box = input("인사말:")

인사말:Hi

In [54]:
box

'Hi'

In [55]:
type(box)

str

In [56]:
number = input("숫자 : ")
#input은 문자열

숫자 : 0915

In [57]:
number + 1000

TypeError: can only concatenate str (not "int") to str

In [58]:
type(number)

str

In [59]:
number + str(1000)

'09151000'

In [60]:
number

'0915'

In [61]:
int(number) + 1000

1915

In [71]:
int(number)
#문자열을 숫자로 전환

915

In [63]:
type(int(number))

int

In [64]:
float(number)

915.0

In [65]:
int("백만")

ValueError: invalid literal for int() with base 10: '백만'

In [66]:
백만 = 1000000

In [67]:
int(백만)

1000000

In [68]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [69]:
int("백만")

ValueError: invalid literal for int() with base 10: '백만'

In [70]:
int(3.14)

3

In [78]:
print(true)

NameError: name 'true' is not defined

In [79]:
print(True)

True

In [81]:
print("apple" > "Apple")

True

In [82]:
print("안녕" < "하이")

True

In [83]:
"가방" == "가방"

True

In [87]:
x =  10
x < 20

True

In [85]:
type(x)

int

In [88]:
"10" < "11"

True

In [89]:
"10" < "100"

True

In [90]:
"10" < "1"

False

In [91]:
x = 10
under_20 = x < 20
print(under_20)
print("under_20: ", under_20)

True
under_20:  True

In [92]:
print("not under_20: ", not under_20)

not under_20:  False

In [93]:
True and True

True

In [94]:
True and False

False

In [97]:
if True:
    print("if 옆에 True 면 출력")
    print("되요")
    
if False:
    print("출력 안됨")
    
print()
print("난 if 랑 상관없이 출력")

if 옆에 True 면 출력
되요

난 if 랑 상관없이 출력

In [103]:
number_str = input("정수 입력> ")
number = int(number_str)

if number > 0:
    print("양수")
    
if number < 0:
    print("음수")
    
if number == 0:
    print("0")

정수 입력> 0
0

In [104]:
import datetime

now = datetime.datetime.now()

print(now.year, "년")
print(now.month, "월")
print(now.day, "일")

2020 년
6 월
22 일

In [105]:
now

datetime.datetime(2020, 6, 22, 15, 51, 48, 809612)

In [106]:
now.year
now.month
now.day # print안쓰면 맨끝에거밖에 안나옴

22

In [107]:
now.year

2020

In [108]:
now.year, now.month, now.day

(2020, 6, 22)

In [109]:
print("{}년, {}월".format(now.year, now.month))

2020년, 6월

In [110]:
import datetime
now = datetime.datetime.now()

print("{}년 {}월 {}일".format(now.year, now.month, now.day))

2020년 6월 22일

In [112]:
if now.hour < 12:
    print("오전", now.hour, "시 입니다")
if now.hour > 12:
    print("오후", now.hour - 12, "시 입니다")

오후 4 시 입니다

In [113]:
type(now.hour)

int

In [118]:
number = input("정수 입력> ")
number_k = int(number)

if number_k % 2 == 1:
    print("홀수")
if number_k % 2 == 0:
    print("짝수")

정수 입력> 102588
짝수