In [11]:
range(10)

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(100)

range(0, 100)

In [14]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [15]:
list(range(10, 100))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [17]:
list(range(4, -1, -1))

[4, 3, 2, 1, 0]

In [18]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [19]:
reversed(list(range(5)))

In [20]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [21]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [27]:
for i in reversed(range(5)):
    print("i = {}".format(i))

i = 4
i = 3
i = 2
i = 1
i = 0

In [25]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [28]:
list_test = [1, 2, 2, 3, 1]
value = 2
while value in list_test:
    list_test.remove(value)
print(list_test)

[1, 3, 1]

In [29]:
i = 100
while i in list_test:
    print(i)

In [30]:
while i in list_test:
    print(i)

In [35]:
list_test1 = [1, 2, 2, 1, 2, 1]
while value in list_test1:
    list_test1.remove(value)
print(list_test1)

[1, 1, 1]

In [36]:
import time
time.time()

1592976528.368217

In [38]:
now = time.time()
now

1592976715.1680872

In [39]:
after_now_5sec = now + 5

In [40]:
after_now_5sec

1592976720.1680872

In [41]:
number = 0
t_tick =  time.time() + 1
while time.time() < t_tick:
    number = number + 1
print("1초 동안 {}번 반복".format(number))
#파이썬을 멈추는 명령어
#time.sleep(시간입력, 단위 1/1000)

1초 동안 4518046번 반복

In [54]:
number = 0
t_tick = time.time() + 1
while time.time() < t_tick:
    number = number + 1
    if number > 4:
        print("반복된 횟수 : {}번".format(number))
        break
print(number)#표시되는 횟수만 줄어들고 계산횟수는 똑같이 많이됨(break가 없으면)

반복된 횟수 : 5번
5

In [53]:
i = 0
while True:
    print("처음i =", i)
    i = i + 1
    print("1 증가 후 i =", i)
    input_text = input("종료?: ")
    print("input_text:", input_text)
    if input_text in ["Y", "y", "예", "네", "멈춰", "ㅇ"]:
        print("반복 종료")
        break

처음i = 0
1 증가 후 i = 1
종료?: 1
input_text: 1
처음i = 1
1 증가 후 i = 2
종료?: 2
input_text: 2
처음i = 2
1 증가 후 i = 3
종료?: 3
input_text: 3
처음i = 3
1 증가 후 i = 4
종료?: 4
input_text: 4
처음i = 4
1 증가 후 i = 5
종료?: 5
input_text: 5
처음i = 5
1 증가 후 i = 6
종료?:
input_text:
처음i = 6
1 증가 후 i = 7
종료?: 6
input_text: 6
처음i = 7
1 증가 후 i = 8
종료?:
input_text:
처음i = 8
1 증가 후 i = 9
종료?: ㅇ
input_text: ㅇ
반복 종료

In [55]:
range(3, 10, 3)

range(3, 10, 3)

In [56]:
list(range(3, 10, 3))

[3, 6, 9]

In [58]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number < 10:
        continue
    print(number)

15
20
25