In [3]:
for i in range(1, 100):
    j = 100 - i
    result = i * j
    max_value = 0
    if max_value < result:
        max_value = result
        a = i
        b = j
        print(i, j, max_value)

1 99 99
2 98 196
3 97 291
4 96 384
5 95 475
6 94 564
7 93 651
8 92 736
9 91 819
10 90 900
11 89 979
12 88 1056
13 87 1131
14 86 1204
15 85 1275
16 84 1344
17 83 1411
18 82 1476
19 81 1539
20 80 1600
21 79 1659
22 78 1716
23 77 1771
24 76 1824
25 75 1875
26 74 1924
27 73 1971
28 72 2016
29 71 2059
30 70 2100
31 69 2139
32 68 2176
33 67 2211
34 66 2244
35 65 2275
36 64 2304
37 63 2331
38 62 2356
39 61 2379
40 60 2400
41 59 2419
42 58 2436
43 57 2451
44 56 2464
45 55 2475
46 54 2484
47 53 2491
48 52 2496
49 51 2499
50 50 2500
51 49 2499
52 48 2496
53 47 2491
54 46 2484
55 45 2475
56 44 2464
57 43 2451
58 42 2436
59 41 2419
60 40 2400
61 39 2379
62 38 2356
63 37 2331
64 36 2304
65 35 2275
66 34 2244
67 33 2211
68 32 2176
69 31 2139
70 30 2100
71 29 2059
72 28 2016
73 27 1971
74 26 1924
75 25 1875
76 24 1824
77 23 1771
78 22 1716
79 21 1659
80 20 1600
81 19 1539
82 18 1476
83 17 1411
84 16 1344
85 15 1275
86 14 1204
87 13 1131
88 12 1056
89 11 979
90 10 900
91 9 819
92 8 736
93 7 651
94 6 564
95 5 475
96 4 384
97 3 291
98 2 196
99 1 99

In [4]:
limit = 10000
i = 1
sum_value = 0
while True:
    sum_value = sum_value + i
    if sum_value > limit:
        break
    i = i + 1
print(i, sum_value)

141 10011

In [15]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}
for n in range(len(key_list)):
    character[key_list[n]] = value_list[n]
    
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [17]:
def print_time(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_time(3, "안녕하세요", "하이", "방가", "ㅇㅇ")

안녕하세요
하이
방가
ㅇㅇ

안녕하세요
하이
방가
ㅇㅇ

안녕하세요
하이
방가
ㅇㅇ

In [19]:
def print_times(value, n = 2):
    for i in range(n):
        print(value)
print_times("안녕")

안녕
안녕

In [20]:
def print_times(*values, n = 2):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_times("안녕하세요", "ㅎ2", "하이", n = 3)

안녕하세요
ㅎ2
하이

안녕하세요
ㅎ2
하이

안녕하세요
ㅎ2
하이

In [21]:
def test(a, b = 10, c = 100):
    print(a + b + c)
test(10, 20, 30)
test(a = 10, b = 20, c = 30)
test(c = 30, a = 10, b = 20)
test(10, c = 30)

60
60
60
50

In [22]:
def sum_all(start = 0, end = 100, step = 1):
    output = 0
    for i in range(start, end + 1, step):
        output = output + i
    return output

print("a.", sum_all(0, 100, 10))
print("b.", sum_all(end = 100))
print("c.", sum_all(end = 100, step = 2))

a. 550
b. 5050
c. 2550

In [29]:
def mul(*values):
    result = 1
    for value in values:
        result = result * value
        print(result)
    return result
print(mul(1, 3, 5, 7, 9, 2))

1
3
15
105
945
1890
1890

In [30]:
def f(x):
    return 2 * x + 1
print(f(10))

21

In [31]:
def f(x):
    return x**2 + 2 * x + 1
print(f(10))

121

In [34]:
max_value = 0
a = 0
b = 0
for i in range(1, 100):
    j = 100 - i
    times = i * j
    if times > max_value:
        max_value = times
        a = i
        b = j
        print(a, b, max_value)
    i = i + 1

1 99 99
2 98 196
3 97 291
4 96 384
5 95 475
6 94 564
7 93 651
8 92 736
9 91 819
10 90 900
11 89 979
12 88 1056
13 87 1131
14 86 1204
15 85 1275
16 84 1344
17 83 1411
18 82 1476
19 81 1539
20 80 1600
21 79 1659
22 78 1716
23 77 1771
24 76 1824
25 75 1875
26 74 1924
27 73 1971
28 72 2016
29 71 2059
30 70 2100
31 69 2139
32 68 2176
33 67 2211
34 66 2244
35 65 2275
36 64 2304
37 63 2331
38 62 2356
39 61 2379
40 60 2400
41 59 2419
42 58 2436
43 57 2451
44 56 2464
45 55 2475
46 54 2484
47 53 2491
48 52 2496
49 51 2499
50 50 2500

In [10]:
limit = 10000
i = 1
sum_val = 0
while True:
    sum_val = sum_val + i
    if sum_val > limit:
        break
    i = i + 1
print(i, sum_val)

141 10011

In [8]:
limit = 10000
i = 1
sum_val = 0
while True:
    sum_val = sum_val + i
    if sum_val > limit:
        break
    i = i + 1
print(i, sum_val)

141 10011

In [9]:
limit = 10000
i = 1
sum_val = 0
while True:
    sum_val = sum_val + i
    if sum_val > limit:
        break
    i = i + 1
print(i, sum_val)

141 10011

In [7]:
def mul(*values):
    result = 1
    for val in values:
        result = result * val
        print(result)
    return result
print(mul(2, 3, 5, 7, 10))

2
6
30
210
2100
2100

In [12]:
for i in range(1, 100):
    j = 100 - i
    result = i * j
    max_value = 0
    if max_value < result:
        max_value = result
        a = i
        b = j
        print(i, j, max_value)

max_value = 0
a = 0
b = 0
for i in range(1, 100):
    j = 100 - i
    times = i * j
    if times > max_value:
        max_value = times
        a = i
        b = j
        print(a, b, max_value)
    i = i + 1

1 99 99
2 98 196
3 97 291
4 96 384
5 95 475
6 94 564
7 93 651
8 92 736
9 91 819
10 90 900
11 89 979
12 88 1056
13 87 1131
14 86 1204
15 85 1275
16 84 1344
17 83 1411
18 82 1476
19 81 1539
20 80 1600
21 79 1659
22 78 1716
23 77 1771
24 76 1824
25 75 1875
26 74 1924
27 73 1971
28 72 2016
29 71 2059
30 70 2100
31 69 2139
32 68 2176
33 67 2211
34 66 2244
35 65 2275
36 64 2304
37 63 2331
38 62 2356
39 61 2379
40 60 2400
41 59 2419
42 58 2436
43 57 2451
44 56 2464
45 55 2475
46 54 2484
47 53 2491
48 52 2496
49 51 2499
50 50 2500
51 49 2499
52 48 2496
53 47 2491
54 46 2484
55 45 2475
56 44 2464
57 43 2451
58 42 2436
59 41 2419
60 40 2400
61 39 2379
62 38 2356
63 37 2331
64 36 2304
65 35 2275
66 34 2244
67 33 2211
68 32 2176
69 31 2139
70 30 2100
71 29 2059
72 28 2016
73 27 1971
74 26 1924
75 25 1875
76 24 1824
77 23 1771
78 22 1716
79 21 1659
80 20 1600
81 19 1539
82 18 1476
83 17 1411
84 16 1344
85 15 1275
86 14 1204
87 13 1131
88 12 1056
89 11 979
90 10 900
91 9 819
92 8 736
93 7 651
94 6 564
95 5 475
96 4 384
97 3 291
98 2 196
99 1 99
1 99 99
2 98 196
3 97 291
4 96 384
5 95 475
6 94 564
7 93 651
8 92 736
9 91 819
10 90 900
11 89 979
12 88 1056
13 87 1131
14 86 1204
15 85 1275
16 84 1344
17 83 1411
18 82 1476
19 81 1539
20 80 1600
21 79 1659
22 78 1716
23 77 1771
24 76 1824
25 75 1875
26 74 1924
27 73 1971
28 72 2016
29 71 2059
30 70 2100
31 69 2139
32 68 2176
33 67 2211
34 66 2244
35 65 2275
36 64 2304
37 63 2331
38 62 2356
39 61 2379
40 60 2400
41 59 2419
42 58 2436
43 57 2451
44 56 2464
45 55 2475
46 54 2484
47 53 2491
48 52 2496
49 51 2499
50 50 2500

In [14]:
tuple_test = (10, 20, 30)
tuple_test

(10, 20, 30)

In [15]:
tuple_test[0]

10

In [16]:
tuple_test[0] = 1

TypeError: 'tuple' object does not support item assignment

In [17]:
tuple_test = 10, 20, 30, 40
print("#괄호가 없는 튜플의 값과 자료형 출력")
print("tuple_test:", tuple_test)
print("type(tuple_test):", type(tuple_test))
print()
a, b, c = 10, 20, 30
print("#괄호가 없는 튜플을 활용한 할당")
print("a:", a)
print("b:", b)
print("c:", c)

#괄호가 없는 튜플의 값과 자료형 출력
tuple_test: (10, 20, 30, 40)
type(tuple_test): <class 'tuple'>

#괄호가 없는 튜플을 활용한 할당
a: 10
b: 20
c: 30

In [18]:
[a, b] = [10, 20]
(c, d) = (10, 20)
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

a: 10
b: 20
c: 10
d: 20

In [19]:
tuple_a = 10, 20, 30, 40
print("tuple_a:", tuple_a)
print("type(tuple_a):", type(tuple_a))
print()

a, b, c = 10, 20, 30
print("a:", a)
print("b:", b)
print("c:", c)

tuple_a: (10, 20, 30, 40)
type(tuple_a): <class 'tuple'>

a: 10
b: 20
c: 30

In [20]:
a, b = 10, 20
print("a:", a)
print("b:", b)
print()
a, b = b, a
print("a:", a)
print("b:", b)

a: 10
b: 20

a: 20
b: 10

In [21]:
def test():
    return (10, 20)
a, b = test()
print("a:", a)
print("b:", b)

a: 10
b: 20

In [22]:
a = (273)

In [23]:
type(a)

int

In [24]:
a = (273, )
type(a)

tuple

In [26]:
def mul(*values):
    result = 1
    for value in values:
        result = result * value
        print("result:", result)
    return result
    
print(mul(5, 3, 1, 7, 9, 2))

result: 5
result: 15
result: 15
result: 105
result: 945
result: 1890
1890

In [31]:
max_data = 0
a = 0
b = 0
for i in range(1, 51):
    j = 100 - i
    result = i * j
    if result > max_data:
        max_data = result
        a = i
        b = j
        print(a, b, max_data)
print("a값은 {}, b값은{} 일 때 최대값 {}을 가진다".format(a, b, max_data))

1 99 99
2 98 196
3 97 291
4 96 384
5 95 475
6 94 564
7 93 651
8 92 736
9 91 819
10 90 900
11 89 979
12 88 1056
13 87 1131
14 86 1204
15 85 1275
16 84 1344
17 83 1411
18 82 1476
19 81 1539
20 80 1600
21 79 1659
22 78 1716
23 77 1771
24 76 1824
25 75 1875
26 74 1924
27 73 1971
28 72 2016
29 71 2059
30 70 2100
31 69 2139
32 68 2176
33 67 2211
34 66 2244
35 65 2275
36 64 2304
37 63 2331
38 62 2356
39 61 2379
40 60 2400
41 59 2419
42 58 2436
43 57 2451
44 56 2464
45 55 2475
46 54 2484
47 53 2491
48 52 2496
49 51 2499
50 50 2500
a값은 50, b값은50 일 때 최대값 2500을 가진다

In [40]:
limit = 10000
i = 1
sum_data = 0
while True:
    #sum_data = 0 #(조건문안에 있으면 반복하면서 sum_data값이 
                  #계속 0으로 초기화됨, 밖으로 빼줄것)
    #i = i + 1 (출력값이 달라짐)
    sum_data = sum_data + i
    if sum_data > limit:
        break
    #print(i, sum_data) #정답
    i = i + 1
    #sum_data = sum_data + i
    #print(i, sum_data) #>> 정답값이 (a, b)기준 (a, b-a)
print(i, sum_data) #정답
#print()의 위치에 따라서 결과값이 다르게 나옴

141 10011

In [41]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for n in range(len(key_list)):
    character[key_list[n]] = value_list[n]
    print(character)
print("character =", character)

{'name': '기사'}
{'name': '기사', 'hp': 200}
{'name': '기사', 'hp': 200, 'mp': 30}
{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}
character = {'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [49]:
character_list = {
    "name": "기사", 
    "level": 12,
    "item": {"sword": "불꽃의 검", 
            "amor": "풀플레이트"},
    "skil": ["베기", "세게베기", "많이 세게베기"]
}
for key in character_list:
    if type(character_list[key]) is dict:
        for i in character_list[key]:
            print(i, ":", character_list[key][i])
    elif type(character_list[key]) is list:
        for n in character_list[key]:
            print(key, ":", n)
    else:
        print(key, ":", character[key])

name : 기사
level : 5
sword : 불꽃의 검
amor : 풀플레이트
skil : 베기
skil : 세게베기
skil : 많이 세게베기

In [54]:
numbers = [1, 2, 3, 3, 4, 6, 7, 8, 9, 1, 2, 1, 5, 6, 3, 7, 9, 10]
counter = {}
for number in numbers:
    if number in counter:
        counter[number] = counter[number] + 1
    else:
        counter[number] = 1
print(counter)

{1: 3, 2: 2, 3: 3, 4: 1, 6: 2, 7: 2, 8: 1, 9: 2, 5: 1, 10: 1}

In [53]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 5, 6, 2, 1, 6, 7, 9, 1, 2, 3, 3, 7, 8]
counter = {}
for number in numbers:
    if number in counter:
        counter[number] = counter[number] + 1
    else:
        counter[number] = 1
print(counter)

{1: 4, 2: 4, 3: 4, 4: 1, 5: 2, 6: 3, 7: 3, 8: 2, 9: 1}

In [55]:
pets = [
    {"name": "구름", "age": 5},
    {"name": "초코", "age": 3},
    {"name": "아지", "age": 1},
    {"name": "호랑이", "age": 1}
]
for pet in pets:
    
print("{} {}살".format(pet["name"], pet["age"])

SyntaxError: unexpected EOF while parsing (<ipython-input-55-866475acfbcc>, line 7)