In [1]:
movies =["기생충", "마더", "살인의 추억"]

In [2]:
movies

['기생충', '마더', '살인의 추억']

In [3]:
print(movies[2])

살인의 추억

In [4]:
len(movies)

3

In [5]:
movies.append("옥자")

In [6]:
movies

['기생충', '마더', '살인의 추억', '옥자']

In [7]:
movies.pop()

'옥자'

In [8]:
movies

['기생충', '마더', '살인의 추억']

In [9]:
for each_flick in moves:
    print("each_flick", each_flick)

NameError: name 'moves' is not defined

In [10]:
isinstance(movies, list)

True

In [11]:
isinstance("안녕", list)

False

In [15]:
for each_item in movies:
    print("each_item:", each_item)
    print("isinstance(each_item, list):", isinstance(each_item, list))
    if isinstance(each_item, list):
        for nested_item in each_item:
            print("nested_item:", nested_item)

each_item: 기생충
isinstance(each_item, list): False
each_item: 마더
isinstance(each_item, list): False
each_item: 살인의 추억
isinstance(each_item, list): False

In [16]:
movies = ["The Holy Grail", "The Life of Brian", "The Meaning of Life"]
cast = ["Cleese", "Palin", "Jones", "Idle"]

In [17]:
cast.extend(["Gilliam", "Chapman"])

In [18]:
cast.remove("Chapman")

In [19]:
cast.insert(0, "Chapman")

In [20]:
print(cast)

['Chapman', 'Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

In [22]:
movies.insert(1, 1975)

In [23]:
movies.insert(3, 1979)

In [24]:
movies.append(1983)

In [25]:
print(movies)

['The Holy Grail', 1975, 1975, 1979, 'The Life of Brian', 1979, 'The Meaning of Life', 1983]

In [26]:
movies.remove(1975)

In [27]:
movies.remove(1979)

In [28]:
print(movies)

['The Holy Grail', 1975, 'The Life of Brian', 1979, 'The Meaning of Life', 1983]

In [29]:
fav_movies = ["The Holy Grail", "The Life of Brian"]

In [30]:
for each_flick in fav_movies:
    print(each_flick)

The Holy Grail
The Life of Brian

In [31]:
movies = ["The Holy Grail", 1975, "Terry Hones & Terry Gilliam", 91, ["Graham Chapman", ["Michael Palin", "John Cleese", "Terry Gilliam", "Eric Idle", "Therry Jones"]]]

In [32]:
for each_item in movies:
    print(each_item)

The Holy Grail
1975
Terry Hones & Terry Gilliam
91
['Graham Chapman', ['Michael Palin', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Therry Jones']]

In [34]:
for each_item in movies:
    if isinstance(each_item, list):
        for nested_item in each_item:
            print(nested_item)
    else:
        print(each_item)

The Holy Grail
1975
Terry Hones & Terry Gilliam
91
Graham Chapman
['Michael Palin', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Therry Jones']

In [35]:
for each_item in movies:
    if isinstance(each_item, list):
        for nested_item in each_item:
            if isinstance(nested_item, list):
                for deeper_item in nested_item:
                    print(deeper_item)
            else:
                print(nested_item)
    else:
        print(each_item)

The Holy Grail
1975
Terry Hones & Terry Gilliam
91
Graham Chapman
Michael Palin
John Cleese
Terry Gilliam
Eric Idle
Therry Jones

In [37]:
n = 5
output = 1
for i in range(1, n + 1):
    print("i =", i)
    output = output * i
    print("output = ", output)
    print("=" * 30)

i = 1
output =  1
==============================
i = 2
output =  2
==============================
i = 3
output =  6
==============================
i = 4
output =  24
==============================
i = 5
output =  120
==============================

In [39]:
def factorial(n):
    output = 1
    for i in range(1, n + 1):
        output = output * i
        print("output * i =", output)
    return output

In [40]:
factorial(5)

output * i = 1
output * i = 2
output * i = 6
output * i = 24
output * i = 120

120

In [41]:
def factorial(n):
    print("factorial({}) 시작".format(n))
    if n == 1:
        print("factorial 함수 그만 호출, 1 리턴")
        return 1
    else:
        print("factorial({} - 1) 호출".format(n))
        output = factorial(n-1) * n
        print("output =", output)
        return output

In [42]:
factorial(5)

factorial(5) 시작
factorial(5 - 1) 호출
factorial(4) 시작
factorial(4 - 1) 호출
factorial(3) 시작
factorial(3 - 1) 호출
factorial(2) 시작
factorial(2 - 1) 호출
factorial(1) 시작
factorial 함수 그만 호출, 1 리턴
output = 2
output = 6
output = 24
output = 120

120

In [43]:
#피보나치 수열
#1번째 달 > 토끼 1쌍
#2번째 달 > 토끼 1쌍
#3번째 달 > 토끼 1쌍, 자식 -1 1쌍(4마리)
#4번째 달> 부모1쌍 자식 1-1쌍, 자식 1쌍
#5번째 달 > 부모1쌍 자식 1-1쌍, 손자1쌍 자식1쌍 새로운 자식 1쌍

In [51]:
counter = 0
def fibonacci(n):
    print("fibonacci({}) 시작".format(n))
    counter = 100
    print("counter =", counter)
    if n < 3:
        print("n이 3미만이라서 1")
        print("fibonacci({}) 끝".format(n))
        return 1
    else:
        output = fibonacci(n-1) + fibonacci(n-2)
        print("output = {} 리턴".format(n))
        print("fibonacci({}) 끝".format(n))
        return output

In [52]:
fibonacci(3)

fibonacci(3) 시작
counter = 100
fibonacci(2) 시작
counter = 100
n이 3미만이라서 1
fibonacci(2) 끝
fibonacci(1) 시작
counter = 100
n이 3미만이라서 1
fibonacci(1) 끝
output = 3 리턴
fibonacci(3) 끝

2

In [53]:
counter

0

In [54]:
counter = 0
def fibonacci(n):
    print("fibonacci({}) 시작".format(n))
    global counter
    counter = 100
    print("counter =", counter)
    if n < 3:
        print("n이 3미만이라서 1")
        print("fibonacci({}) 끝".format(n))
        return 1
    else:
        output = fibonacci(n-1) + fibonacci(n-2)
        print("output = {} 리턴".format(n))
        print("fibonacci({}) 끝".format(n))
        return output

In [55]:
fibonacci(5)

fibonacci(5) 시작
counter = 100
fibonacci(4) 시작
counter = 100
fibonacci(3) 시작
counter = 100
fibonacci(2) 시작
counter = 100
n이 3미만이라서 1
fibonacci(2) 끝
fibonacci(1) 시작
counter = 100
n이 3미만이라서 1
fibonacci(1) 끝
output = 3 리턴
fibonacci(3) 끝
fibonacci(2) 시작
counter = 100
n이 3미만이라서 1
fibonacci(2) 끝
output = 4 리턴
fibonacci(4) 끝
fibonacci(3) 시작
counter = 100
fibonacci(2) 시작
counter = 100
n이 3미만이라서 1
fibonacci(2) 끝
fibonacci(1) 시작
counter = 100
n이 3미만이라서 1
fibonacci(1) 끝
output = 3 리턴
fibonacci(3) 끝
output = 5 리턴
fibonacci(5) 끝

5

In [56]:
counter

100

In [67]:
counter = 0
def fibonacci(n):
    print("fibonacci({}) 시작".format(n))
    global counter
    counter = counter + 1
    print("counter =", counter)
    if n < 3:
        print("n이 3미만이라서 1")
        print("fibonacci({}) 끝".format(n))
        return 1
    else:
        output = fibonacci(n-1) + fibonacci(n-2)
        print("output = {} 리턴".format(n))
        print("fibonacci({}) 끝".format(n))
        return output
# +=, *=, /=, -= 연산자는 하기전에 변수에 값이 꼭 저장되 있어야한다.

In [68]:
fibonacci(5)

fibonacci(5) 시작
counter = 1
fibonacci(4) 시작
counter = 2
fibonacci(3) 시작
counter = 3
fibonacci(2) 시작
counter = 4
n이 3미만이라서 1
fibonacci(2) 끝
fibonacci(1) 시작
counter = 5
n이 3미만이라서 1
fibonacci(1) 끝
output = 3 리턴
fibonacci(3) 끝
fibonacci(2) 시작
counter = 6
n이 3미만이라서 1
fibonacci(2) 끝
output = 4 리턴
fibonacci(4) 끝
fibonacci(3) 시작
counter = 7
fibonacci(2) 시작
counter = 8
n이 3미만이라서 1
fibonacci(2) 끝
fibonacci(1) 시작
counter = 9
n이 3미만이라서 1
fibonacci(1) 끝
output = 3 리턴
fibonacci(3) 끝
output = 5 리턴
fibonacci(5) 끝

5

In [64]:
counter

9

In [69]:
dictionary = {1: 100, 2: 200}

In [70]:
dictionary[1]

100

In [71]:
dictionary[2]

200

In [72]:
1 in dictionary

True

In [73]:
2 in dictionary

True

In [74]:
3 in dictionary

False

In [75]:
100 in dictionary

False

In [78]:
dicttionary = {1: 1, 2: 1}
counter = 0
def fibonacci(n):
    print("fibonacci({}) 시작".format(n))
    global counter
    counter = counter + 1
    print("counter =", counter)
    #if n < 3:
    #    print("n이 3미만이라서 1")
     #   print("fibonacci({}) 끝".format(n))
      #  return 1 (너무 느림)
    if n in dictionary: #빠름
        print("dictionary에 있어서 1 리턴")
        return 1
    else:
        output = fibonacci(n-1) + fibonacci(n-2)
        print("output = {} 리턴".format(n))
        print("fibonacci({}) 끝".format(n))
        return output

In [79]:
fibonacci(5)

fibonacci(5) 시작
counter = 1
fibonacci(4) 시작
counter = 2
fibonacci(3) 시작
counter = 3
fibonacci(2) 시작
counter = 4
dictionary에 있어서 1 리턴
fibonacci(1) 시작
counter = 5
dictionary에 있어서 1 리턴
output = 3 리턴
fibonacci(3) 끝
fibonacci(2) 시작
counter = 6
dictionary에 있어서 1 리턴
output = 4 리턴
fibonacci(4) 끝
fibonacci(3) 시작
counter = 7
fibonacci(2) 시작
counter = 8
dictionary에 있어서 1 리턴
fibonacci(1) 시작
counter = 9
dictionary에 있어서 1 리턴
output = 3 리턴
fibonacci(3) 끝
output = 5 리턴
fibonacci(5) 끝

5

In [80]:
counter

9